<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About from ejs</title>
	<link rel="stylesheet" type="text/css" href="/main-bundle.css">
</head>
<body>
	<h1>About from views</h1>
	<p>Navigate to <span><a href="/">Home!</a></span> page.</p>
	<p>Navigate to <span><a href="/test">Test!</a></span> an HTML page.</p>
	<%- include('includeFile') %>
	<h2>Copyright © 2020 📌Ivo Kalendarov. All rights reserved.</h2>
	<h3>lLorem ipsum dolor.</h3>
	<script src="/main-bundle.js"></script>
</body>
</html>