<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index from views</title>
	<link rel="stylesheet" type="text/css" href="/main-bundle.css">
</head>
<body>
	<h1>index from views.ejs</h1>
	<p>Navigate to <span><a href="/about">About!</a></span> page.</p>
	<p>Navigate to <span><a href="/test">Test!</a></span> an HTML page.</p>
	<h2 class="test test--inside test--inside--up">Copyright © 2020 📌Ivo Kalendarov. All rights reserved.</h2>
	<p>lLorem ipsum dolor sit.</p>
	<%- include('includeFile') %>
	<script src="/main-bundle.js"></script>
</body>
</html>